<configuration debug="true" scan="true" scanPeriod="10 seconds">
  <jmxConfigurator/>

  <appender name="APP_LOG" class="ch.qos.logback.core.ConsoleAppender">
    <file>mvcapp-logfile-${timestamp-by-second}.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
      <outputPatternAsHeader>true</outputPatternAsHeader>
    </encoder>
  </appender>

  <logger name="com.danzki.controllers.UserController" level="info" additivity="true">
    <appender-ref ref="APP_LOG"/>
  </logger>

  <logger name="com.danzki.mongo.MongoConfig" level="info" additivity="true">
    <appender-ref ref="APP_LOG"/>
  </logger>

  <logger name="com.danzki.mongo.repository.UserDaoMongo" level="info" additivity="true">
    <appender-ref ref="APP_LOG"/>
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
